---
import BaseLayout from './Base.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishedDate, updatedDate, heroImage } = Astro.props;
---
<style>
	@import url(@src/styles/layouts/blog-post.css) layer(components);
</style>

<BaseLayout title={title} description={description}>
	<main>
		<article>
			{heroImage && <div class="hero-image"><Image src={heroImage} alt="" /></div>}

			<div class="prose">
				<div class="title">
					<div class="date">
						<FormattedDate date={publishedDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
				</div>

				<slot />
			</div>
		</article>
	</main>
</BaseLayout>